main{
    display: flex;
    align-content: center;
    flex-direction: column;
}
/* Para generar que todo el MAIN esté en Columnas y ordenado en el centro. */
section {
    width: CALC(100vw - 20px);
    /* Esto te calcula los pixelesd de izq o drch */
}

section h1, section h2{
    text-align: center;
}

.flex{
    display: "flex";
}
