header .titulo{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

nav{
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: blue;
}
/* Se genera un boton independiente. */
nav div{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* min-width: 80px; */
    padding: 0 10px;
    cursor: pointer;
}

nav div a {
    color: wheat;
}

body{
    margin:0px;
}